/* Header style */
header {
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

header .logo {
  width: 138px;
  height: 50px;
  background: url("../images/logo.png") no-repeat center;
}
