.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: solid 1px #dddddd;
  border-radius: 4px;
  display: flex;
  gap: 0px;
  align-items: center;
}

section.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 30px;
}
section.filters button:hover {
  opacity: 0.9;
}
.locations {
  text-align: left;
  height: 100%;
  width: 25%;
  border-right: solid 1px #dddddd;
}
.amenities {
  text-align: left;
  height: 100%;
  width: 25%;
  margin: 0;
}
.amenities h3,
.locations h3 {
  font-weight: 600;
  margin: 0px;
  margin-top: 17px;
  padding-left: 30px;
}
.amenities h4,
.locations h4 {
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  padding-left: 30px;
}
.popover {
  visibility: hidden;
  position: relative;
  background-color: #fafafa;
  border: solid #dddddd 1px;
  border-radius: 4px;
  padding: 16px;
  list-style-type: none;
  z-index: 1;
}
.popover li h2 {
  padding: 0;
  margin: 0;
}
.popover_list {
  padding-left: 20px;
  list-style-type: none;
  padding-bottom: 18px;
}
.locations:hover > .popover {
  visibility: visible;
}

.amenities:hover > .popover {
  visibility: visible;
}
